.dropdown-toggle{
    transition: all 0.3s;
}
#logo{
    float:left;
    width:50px;
    height:50px;
}
.clear{
    clear:left;
}
label{
    margin-left: 5px;
    margin-right: 20px;
}
.green{
    background-color: lightseagreen !important;
}
.form-control{
    background-color:lightsteelblue;
}

figure{
    width: 20%;
    float: left;
    position: relative;
}
.modif{
    width: 20px;
    float: right;
}
ul{
    list-style-type: none;
}
.connect{
    border-radius: 5px;
    padding:10px;
    background-color: #333333;
    border:1px solid grey;
}
.connect input{
    margin-bottom: 5px;
}
.connect .form-group{
    margin-bottom: 0px;
}
.connect .alert{
    margin-bottom: 0px;
}
.connect .alert-info{
    margin-bottom: 0px;
}
.listUsers{
    margin-top:50px;
}
#main-header{
    margin-bottom:50px;
}
